{% extends 'base.html.twig' %}
{% block body %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">
    {% endblock %}
    <nav class="white">
        <div class="nav-wrapper">
            <a href="{{ path('portada') }}" class="brand-logo"><img src="{{ asset('bundles/app/images/kindie.png') }}"></a>

            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            <ul class="right hide-on-med-and-down">
                <li><div class="input-field">
                        <input id="search" type="search" required>
                        <label for="search"><i class="mdi-action-search"></i></label>
                        <i class="mdi-navigation-close"></i>
                    </div></li>
                <li><a href="#">Descubre</a></li>
                <li><a href="#">Empieza</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="{{ path('nuevo_usuario') }}">Regístrate</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="#">Descubre</a></li>
                <li><a href="#">Empieza</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="{{ path('nuevo_usuario') }}">Regístrate</a></li>
            </ul>
        </div>
    </nav>
        {% block contenido %}

        {% endblock %}
    {% block footer %}
        <footer class="page-footer purple accent44">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Footer Content</h5>
                        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2015 Copyright Kindie
                    <a class="grey-text text-lighten-4 right" href="http://www.nonodev.es">Developed by Juan A. Valera</a>
                </div>
            </div>
        </footer>
    {% endblock %}
    {% block scripts %}
        <script>
            $(document).ready(function(){
                $('.parallax').parallax();
                $(".button-collapse").sideNav();

            });
        </script>
    {% endblock %}
{% endblock %}