{% extends '::layout.html.twig' %}
{% block title %} Kindie | Inicio {% endblock %}
{% block contenido %}

    <section id="principal">
        <div class="row">
            <div class="col s12 m10 offset-2">
                <h1>Cabecera demo</h1>
                <p>Lorem Ipsum asrae eliptica coconut salchipapa lol</p>
                <button class="btn purple accent-4 waves-effect">Más Info</button>
            </div>
        </div>
    </section>



    <section id="opciones">
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('bundles/app/images/portada/parrilla1.png') }}">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href='#'>This is a link</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('bundles/app/images/portada/parrilla2.png') }}">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href='#'>This is a link</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('bundles/app/images/portada/parrilla3.png') }}">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href='#'>This is a link</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('bundles/app/images/portada/parrilla4.png') }}">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href='#'>This is a link</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <div class="parallax-container">
        <div class="parallax"><img src="{{ asset('bundles/app/images/portada/p1.jpg') }}"></div>
    </div>
    <section id="recientes">
        <h1 class="center">Proyectos Recientes</h1>
        {% if proyectos %}
            <div class="row">
                {% for item in proyectos %}
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" {% if item.id % 2 == 0 %}src="{{ asset('bundles/app/images/proyectos/demo_proyectos.jpg') }}"
                                    {% else %} src="{{ asset('bundles/app/images/proyectos/demo2_proyectos.jpg') }}" {% endif %}>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">{{ item.nombre }} <i class="mdi-navigation-menu right"></i></span>
                            <p><a href="#">Visita el proyecto</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{ item.nombre }} <i class="mdi-navigation-close right"></i></span>
                            <p class="descripcion truncate">{{ item.descripcion }}</p>
                            <h5>Progreso {{ (item.contribuciones/item.meta)*100 }}%</h5>
                            <div class="progress">
                                <div class="determinate purple accent-4" style="width: {{ (item.contribuciones/item.meta)*100 }}%;"></div>
                            </div>
                            <p><i class="small mdi-maps-pin-drop"></i> {{ item.localizacion }}</p>
                            <div class="row">
                                <div class="col m4">
                                    <strong>Meta</strong>
                                    <p>{{ item.meta }} $</p>
                                </div>
                                <div class="col m4">
                                    <strong>Conseguido</strong>
                                    <p>{{ item.contribuciones }} $</p>
                                </div>
                                <div class="col m4">
                                    <strong>Fecha límite</strong>
                                    <p>{{ item.fechaFin|date("d/m/Y")}}</p>
                                </div>

                            </div>
                            <h5>Recompensa</h5>
                            <p>{{ item.recompensa }}</p>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
                <h3>Aún no se ha iniciado ningún proyecto.</h3>
                <a href="{{ path('empieza') }}" class="btn purple accent-4">Sé el primero</a>
        {% endif %}
        <h5 class="center-align">No te quedes aquí, da el paso! <a href="{{ path('descubre_proyectos') }}" class="btn purple accent-4">EXPLORA</a></h5>
    </section>
    <div class="parallax-container">
        <div class="parallax"><img src="{{ asset('bundles/app/images/portada/p2.jpg') }}"></div>
    </div>
    <section id="generos">
        <h1 class="center">Descubre</h1>
    </section>
{% endblock %}

