{% extends '::layout.html.twig' %}
{% block title %} Kindie | Inicio {% endblock %}
{% block contenido %}

    <section id="principal" class="responsive-img" data-type="parallax_section" data-speed="5">
        <div class="row">
            <div class="col s12 m10 offset-2">
                <h1>Comunidad, desarrollo y beneficio</h1>
                <p>Comienza tu proyecto y descubre las posibilidades de Kindie, sólo puedes salir ganando</p>
                <button class="btn purple accent-4 waves-effect">Más Info</button>
            </div>
        </div>
    </section>



    <section id="opciones">
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('bundles/app/images/portada/parrilla1.png') }}">
                        <span class="card-title">Descubre</span>
                    </div>
                    <div class="card-content">
                        <p>No te quedes sin ver lo que se esconde en Kindie, entra y explora</p>
                    </div>
                    <div class="card-action">
                        <a href="{{ path('descubre_proyectos') }}">Explora</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('bundles/app/images/portada/parrilla2.png') }}">
                        <span class="card-title">Crea comunidad</span>
                    </div>
                    <div class="card-content">
                        <p>Crea un proyecto e interactúa con los usuarios, se proactivo.</p>
                    </div>
                    <div class="card-action">
                        <a href='{{ path('empieza') }}'>Empieza</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('bundles/app/images/portada/parrilla3.png') }}">
                        <span class="card-title">Busca</span>
                    </div>
                    <div class="card-content">
                        <p>Si ya sabes a lo que vienes, busca y encúentralo rápido, es muy sencillo.</p>
                    </div>
                    <div class="card-action">
                        <a href='{{ path('buscador_proyectos') }}'>Buscar</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('bundles/app/images/portada/parrilla4.png') }}">
                        <span class="card-title">Únete</span>
                    </div>
                    <div class="card-content">
                        <p>Si aún no formas parte de Kindie, no lo pienses más, entra y únete.</p>
                    </div>
                    <div class="card-action">
                        <a href='{{ path('nuevo_usuario') }}'>Únete</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <div class="parallax-container">
        <div class="parallax"><img src="{{ asset('bundles/app/images/portada/p1.jpg') }}"></div>
    </div>
    <section id="recientes">
        <h1 class="center">Proyectos Recientes</h1>
        {% if proyectos %}
            <div class="row">
                {% for item in proyectos %}
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ item.imagenPrincipal }}" >
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">{{ item.nombre }} <i class="mdi-navigation-menu right"></i></span>
                            <p><a href="{{ path('proyecto', {'id':item.id}) }}">Visita el proyecto</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{ item.nombre }} <i class="mdi-navigation-close right"></i></span>
                            <p>Por <strong><i><a href="{{ path('perfil', {'id': item.usuario.id}) }}">{{ item.usuario.nombreUsuario }}</a></i></strong></p>
                            <p class="descripcion truncate">{{ item.descripcionCorta }}</p>
                            <h5>{{ (item.contribuciones/item.meta)*100 }}% Conseguido</h5>
                            <div class="progress">
                                <div class="determinate purple accent-4" style="width: {{ (item.contribuciones/item.meta)*100 }}%;"></div>
                            </div>
                            <p><i class="small mdi-maps-pin-drop"></i> {{ item.localizacion }}&nbsp; <i class="small mdi-image-style"></i> {{ item.generos.nombre }}</p>
                            <div class="row">
                                <div class="col m4">
                                    <strong>Meta</strong>
                                    <p>{{ item.meta }} $</p>
                                </div>
                                <div class="col m4">
                                    <strong>Conseguido</strong>
                                    <p>{{ item.contribuciones }} $</p>
                                </div>
                                <div class="col m4">
                                    <strong>Fecha límite</strong>
                                    <p>{{ item.fechaFin|date("d/m/Y")}}</p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
                <h3>Aún no se ha iniciado ningún proyecto.</h3>
                <a href="{{ path('empieza') }}" class="btn purple accent-4">Sé el primero</a>
        {% endif %}
        <h5 class="center-align">No te quedes aquí, da el paso! <a href="{{ path('descubre_proyectos') }}" class="btn purple accent-4">EXPLORA</a></h5>
    </section>
    <div class="parallax-container">
        <div class="parallax"><img src="{{ asset('bundles/app/images/portada/p2.jpg') }}"></div>
    </div>
    <section id="generos">
        <h1 class="center">Explora entre infinitas obras</h1>
        {% if generos %}

        <div class="row">
            {% for genero in generos %}
            <div class="col s12 m4 l2">
                <div class="card-panel blue center">
                    <a href="{{ path('genero', {'id':genero.id}) }}"><span class="white-text">{{ genero.nombre }}
          </span></a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </section>

{% endblock %}

