{% extends '::base.html.twig' %}
{% block title 'Kindie | Login' %}
    {% block stylesheets %}<link rel="stylesheet" href="{{ asset('bundles/app/css/login.css') }}">{% endblock %}
    {% block body %}
        <a href="{{ path('portada') }}">
        <div class="content">
            <svg viewBox="0 0 800 300">

                <!-- Symbol -->
                <symbol id="s-text">
                    <text text-anchor="middle" x="50%" y="50%" dy=".35em">
                         KINDIE
                    </text>
                </symbol>

                <!-- Duplicate symbols -->
                <use xlink:href="#s-text" class="text"></use>
                <use xlink:href="#s-text" class="text"></use>
                <use xlink:href="#s-text" class="text"></use>
                <use xlink:href="#s-text" class="text"></use>
                <use xlink:href="#s-text" class="text"></use>

            </svg>
        </div>
        </a>
        <div class="row">
            <div class="col s12 m8 l4 offset-l4">
        <form method="post" action="{{ url('usuario_comprobar') }}" class="z-depth-3">
        <h5 class="center">LOGIN</h5>
                <div class="form-group">
                    <label for="username">Nombre de usuario</label>
                    <input type="text" name="_username"
                           {% if not last_username %}autofocus="1" {% endif %} autocorrect="off"
                           autocapitalize="off" placeholder="Usuario"
                           value="{{ last_username | default('') }}">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" name="_password"
                           {% if last_username %}autofocus="1" {% endif %}
                           >

                </div>
                <button type="submit" class="btn purple accent-4 waves-effect waves-light">Entrar en la aplicación</button><br/><br/>
            <a href="{{ path('recuperar_cuenta') }}">He olvidado mi contraseña</a>
        </form>


                <div id="opciones">
                    <a href="{{ path('portada') }}">Echa un vistazo</a> o <a href="{{ path('nuevo_usuario') }}">Regístrate</a>
                </div>

                </div>
        </div>
    {% endblock %}
    {% block scripts %}
        {% if ok != "" %}
            <script>
                $(document).ready(function() {

                    // crear notificacion
                    var notification = new NotificationFx({
                        message : '<p>{{ ok }}</p>',
                        layout : 'growl',
                        effect : 'jelly',
                        type : 'notice', // notice, warning, error or success
                        onClose : function() {
                            bttn.disabled = false;
                        }
                    });

                    // show the notification
                    notification.show();


                } );
            </script>
            {% endif %}
            {% if error %}
                <script>
                    $(document).ready(function() {

                        // crear notificacion
                        var notification = new NotificationFx({
                            message : '<p>Mensaje y/o contraseña incorrectos.</p>',
                            layout : 'growl',
                            effect : 'jelly',
                            type : 'notice', // notice, warning, error or success
                            onClose : function() {
                                bttn.disabled = false;
                            }
                        });

                        // show the notification
                        notification.show();


                    } );
                </script>
        {% endif %}
    {% endblock %}