
{% extends '::layout.html.twig' %}
{% block title 'Kindie | Mis notificaciones' %}
    {% block contenido %}
        <h1 class="center">Listado de notificaciones</h1>

        <div class="row notificaciones">
            <div class="col s12 m10 l8 offset-l2 offset-m1">
                {% if notificaciones %}
                    <div class="holder">
                    </div>
                <ul class="collection" id="itemContainer">
                   {% for noti in notificaciones %}
                    <li class="collection-item avatar">
                        <i class="mdi-action-assessment circle green"></i>
                        <span class="title">{{ noti.tipo }}</span>
                        <p>
                            {{ noti.descripcion }}
                        </p>

                        <span class="right">el <strong>{{ noti.fecha|date('d/m/Y') }}</strong>, a las el <strong>{{ noti.fecha|date('H:i:s') }}</strong></span>
                    </li>
                    {% endfor %}
                </ul>
                    <div class="holder">
                    </div>
            {% else %}
                <h4 class="center">No has recibido notificaciones aún</h4>
                {% endif %}
            </div>
        </div>
    {% endblock %}
    {% block scripts %}
    {% if notificaciones %}
    {% if ok != "" %}
        <script>
            $(document).ready(function() {

                // crear notificacion
                var notification = new NotificationFx({
                    message : '<p>{{ ok }}</p>',
                    layout : 'growl',
                    effect : 'jelly',
                    type : 'notice', // notice, warning, error or success
                    onClose : function() {
                        bttn.disabled = false;
                    }
                });

                // show the notification
                notification.show();


            } );
        </script>
    {% endif %}
        {% endif %}
{% endblock %}