{% extends '::layout.html.twig' %}
{% block title 'Kindie | Perfil del usuario' %}
    {% block contenido %}
        <!-- si el usuario es otro que el logueado -->
        {% if usuario.id != usuario_perfil.id %}
            <section id="principal-perfil" class="responsive-img" data-type="parallax_section" data-speed="5">
                <h1 class="center">Información del usuario</h1>
                <div class="row mensajes">
                    <div class="col s12 m10 l8 offset-l2 offset-m1">
                        <div class="info-perfil">
                            <img src="{{ asset('bundles/app/images/usuario/perfil_demo.jpg') }}">
                            <p class="proyecto-arriba">{{ usuario_perfil.nombreUsuario }}</p>
                            <p>Proyectos apoyados: 0</p>
                            <p><a href="#modalMensaje" class="modal-trigger btn purple accent-4" ><span>Contacta con él</span></a></p>
                            <div style="display: block; opacity: 0; bottom: -100%;" id="modalMensaje" class="modal bottom-sheet">
                                <div class="modal-content">
                                    <h4>Modal Header</h4>
                                    <label><strong>Remitente: </strong></label><span>{{ usuario.nombreUsuario }}</span><br/>
                                    <label><strong>Para: </strong></label><span>{{ usuario_perfil.nombreUsuario }}</span>
                                    {{ form(formularioMensaje) }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <section id="proyectos-perfil">
                <h1 class="center">Proyectos de {{ usuario_perfil.nombreUsuario }}</h1>
                {% if proyectos_usuario_perfil %}
                    <div class="row">
                        {% for item in proyectos_usuario_perfil %}
                            <div class="col s12 m6 l4">
                                <div class="card">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator" {% if item.id % 2 == 0 %}src="{{ asset('bundles/app/images/proyectos/demo_proyectos.jpg') }}"
                                                {% else %} src="{{ asset('bundles/app/images/proyectos/demo2_proyectos.jpg') }}" {% endif %}>
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title activator grey-text text-darken-4">{{ item.nombre }} <i class="mdi-navigation-menu right"></i></span>
                                        <p><a href="{{ path('proyecto', {'id':item.id}) }}">Visita el proyecto</a></p>
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">{{ item.nombre }} <i class="mdi-navigation-close right"></i></span>
                                        <p class="descripcion truncate">{{ item.descripcionCorta }}</p>
                                        <h5>{{ (item.contribuciones/item.meta)*100 }}% Conseguido</h5>
                                        <div class="progress">
                                            <div class="determinate purple accent-4" style="width: {{ (item.contribuciones/item.meta)*100 }}%;"></div>
                                        </div>
                                        <p><i class="small mdi-maps-pin-drop"></i> {{ item.localizacion }} &nbsp; <i class="small mdi-image-style"></i> {{ item.generos.nombre }}</p>
                                        <div class="row">
                                            <div class="col m4">
                                                <strong>Meta</strong>
                                                <p>{{ item.meta }} $</p>
                                            </div>
                                            <div class="col m4">
                                                <strong>Conseguido</strong>
                                                <p>{{ item.contribuciones }} $</p>
                                            </div>
                                            <div class="col m4">
                                                <strong>Fecha límite</strong>
                                                <p>{{ item.fechaFin|date("d/m/Y")}}</p>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <h4 class="center">{{ usuario_perfil.nombreUsuario }} aún no ha iniciado ningún proyecto.</h4>

                {% endif %}
            </section>
        {% else %}
            <!-- Si el es propio usuario -->
        <section id="principal-perfil" class="responsive-img" data-type="parallax_section" data-speed="5">
            <h1 class="center">Información del usuario</h1>
            <div class="row mensajes">
                <div class="col s12 m10 l8 offset-l2 offset-m1">
                    <div class="info-perfil">
                        <img src="{{ asset('bundles/app/images/usuario/perfil_demo.jpg') }}">
                        <p class="proyecto-arriba">{{ usuario.nombreUsuario }}</p>
                        <p>Proyectos apoyados: 0</p>
                        <p><a href="{{ path('editarPerfil', {'id':usuario.id})}}" class="btn purple accent-4"> Edita tu perfil</a> </p>
                    </div>
                </div>

            </div>
        </section>
        <section id="proyectos-perfil">
            <h1 class="center">Proyectos de {{ usuario.nombreUsuario }}</h1>
            {% if proyectos %}
                <div class="row">
                    {% for item in proyectos %}
                        <div class="col s12 m6 l4">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" {% if item.id % 2 == 0 %}src="{{ asset('bundles/app/images/proyectos/demo_proyectos.jpg') }}"
                                            {% else %} src="{{ asset('bundles/app/images/proyectos/demo2_proyectos.jpg') }}" {% endif %}>
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">{{ item.nombre }} <i class="mdi-navigation-menu right"></i></span>
                                    <p><a href="{{ path('proyecto', {'id':item.id}) }}">Visita el proyecto</a></p>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">{{ item.nombre }} <i class="mdi-navigation-close right"></i></span>
                                    <p class="descripcion truncate">{{ item.descripcionCorta }}</p>
                                    <h5>{{ (item.contribuciones/item.meta)*100 }}% Conseguido</h5>
                                    <div class="progress">
                                        <div class="determinate purple accent-4" style="width: {{ (item.contribuciones/item.meta)*100 }}%;"></div>
                                    </div>
                                    <p><i class="small mdi-maps-pin-drop"></i> {{ item.localizacion }} &nbsp; <i class="small mdi-image-style"></i> {{ item.generos.nombre }}</p>
                                    <div class="row">
                                        <div class="col m4">
                                            <strong>Meta</strong>
                                            <p>{{ item.meta }} $</p>
                                        </div>
                                        <div class="col m4">
                                            <strong>Conseguido</strong>
                                            <p>{{ item.contribuciones }} $</p>
                                        </div>
                                        <div class="col m4">
                                            <strong>Fecha límite</strong>
                                            <p>{{ item.fechaFin|date("d/m/Y")}}</p>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h4 class="center">{{ usuario.nombreUsuario }} aún no ha iniciado ningún proyecto.</h4>

            {% endif %}
        </section>
            {% endif %}
    {% endblock %}