{% extends '::layout.html.twig' %}

{% block title 'Kindie | Creación de proyecto' %}
    {% block contenido %}

        <div class="container">
            <h1 class="center">Creación de un nuevo proyecto</h1>

            <div class="fs-form-wrap" id="fs-form-wrap">
                <form id="myform" class="fs-form fs-form-full" action="{{ path('nuevo_proyecto', {'nombre': 'n'}) }}" method="post" enctype="multipart/form-data">
                    <ol class="fs-fields">
                        <li>
                            <label class="fs-field-label fs-anim-upper" for="q1">Nombre del proyecto</label>
                            <input class="fs-anim-lower" id="q1" name="nombre" type="text" placeholder="Mi Proyecto" required/>
                            <a href="#" class="btn blue" id="comprobar">Comprobar disponibilidad</a>
                            {% if proyecto == 'Si' %}
                                <br><span class="contador-blue">Nombre de proyecto no disponible, prueba con otro</span>
                            {% elseif proyecto == 'n' %}

                                {% else %}
                                <br><span class="contador-blue">Nombre de proyecto disponible, continua.</span>
                            {% endif %}
                        </li>
                        <li>
                            <label class="fs-field-label fs-anim-upper" for="q2" data-info="No hace falta que sea muy larga, es la descripción que aparecerá en las miniaturas">Descripción corta</label>
                            <textarea class="fs-anim-lower" id="q2" name="descrpcion_corta" placeholder="Descripción corta"></textarea>
                        </li>
                        <li>
                            <label class="fs-field-label fs-anim-upper" for="q3" data-info="Indica la recompensa por participar en pocas palabras">Recompensa</label>
                            <textarea class="fs-anim-lower" id="q3" name="recompensa" placeholder="Recompensa"></textarea>
                        </li>
                        <li>
                            <label class="fs-field-label fs-anim-upper" for="q4">Localización</label>
                            <input class="fs-anim-lower" id="q4" name="localizacion" type="text" placeholder="Nombre de la ciudad" required/>
                        </li>
                        <li>
                            <label class="fs-field-label fs-anim-upper" for="q5" data-info="Es la fecha en la que se da por concluido el periodo de recaudación">Fecha de recaudación</label>
                            <input class="fs-anim-lower datepicker" id="q5" name="fechaFin" type="date" placeholder="Fecha final" required/>
                        </li>
                        <li>
                            <label class="fs-field-label fs-anim-upper" for="q6" data-info="Será la imagen que aparezca en portada y miniatura del proyecto, elige bien">Imagen destacada</label>
                            <input class="fs-anim-lower file" id="q6" name="imagen_destacada" type="file" placeholder="Selecciona una imagen" required/>
                        </li>

                        <li>
                            <label class="fs-field-label fs-anim-upper" for="q7">Meta</label>
                            <input class="fs-mark fs-anim-lower" id="q7" name="meta" type="number" placeholder="1000" step="1" min="1"/>
                        </li>
                        <li data-input-trigger>
                            <label class="fs-field-label fs-anim-upper" for="q8" data-info="Selecciona los géneros a los que pertenece tu videojuego">Género del proyecto</label>
                            <div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
                                {% for gen in generos %}
                                    <span><input id="{{ gen.id }}" name="genero" type="checkbox" value="{{ gen.nombre }}"/><label for="{{ gen.id }}"><img src="/bundles/app/images/generos/miniaturas/{{ gen.nombre }}.png">{{ gen.nombre }}</label></span>
                                {% endfor %}


                            </div>
                            <div class="row">
                                <blockquote>Cada proyecto tiene solamente un género</blockquote>
                            </div>
                        </li>

                    </ol><!-- /fs-fields -->
                    <button class="fs-submit " type="submit" name="crear">Crear proyecto</button>
                </form><!-- /fs-form -->
            </div><!-- /fs-form-wrap -->

            <!-- Related demos -->


        </div><!-- /container -->

        <div class="row">
            <h1 class="center">

            </h1>
        </div>
    {% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function(){
            $("#comprobar").attr('href', '#');
            $("#q1").keyup(function(){
                $("#comprobar").attr('href', '/app_dev.php/comprobar_proyecto?nombre='+$(this).val());
                console.log($(this).val());
            });
        });
    </script>
{% endblock %}
