{% extends '::layout.html.twig' %}
{% block title %}Kindie | Apoyo a proyectos{% endblock %}
    {% block contenido %}
        <section id="participar" class="responsive-img" data-type="parallax_section" data-speed="5">
            <h1 class="center">{{ proyecto.nombre }}</h1>
            <h6 class="center">Por <strong><i><a href="{{ path('perfil', {'id': proyecto.usuario.id}) }}">{{ proyecto.usuario.nombreUsuario }}</a></i></strong></h6>
            <div class="row ">
                <div class="col s12 m8 l6 offset-m2 offset-l3 ">
                    <h5>Recompensa</h5>
                    <p>{{ proyecto.recompensa }}</p>
                    {{ form(formulario) }}
                    <a href="{{ path('proyecto', {'id':proyecto.id}) }}" class="enlace-azul"><i class="mdi-navigation-arrow-back"></i> Vuelve al proyecto</a>
                    <blockquote>Le recordamos que una vez realizada la inversión, el reembolso sólo se podrá realizar contactando con el propio creador.</blockquote>
                </div>
            </div>
        </section>

    {% endblock %}