{% extends '::layout.html.twig' %}
{% block title %}Kindie | {{ proyecto.nombre }}{% endblock %}
    {% block contenido %}
        <section id="proyecto" data-type="parallax_section" data-speed="5">
            <h1 class="center">{{ proyecto.nombre }}</h1>
            <h6 class="center">Por <strong><i><a href="{{ path('perfil', {'id': proyecto.usuario.id}) }}">{{ proyecto.usuario.nombreUsuario }}</a></i></strong></h6>
            <div class="row">
                <div class="col s12 m8 l6 offset-l2">
                    {% if usuario.id == proyecto.usuario.id %}
                        <a href="{{ path('imagen_proyecto', {'id':proyecto.id}) }}" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Cambia la imagen pricipal"><img class="responsive-img" src="{{ proyecto.imagenPrincipal }}"></a>
                    {% else %}
                    <img class="responsive-img" src="{{ proyecto.imagenPrincipal }}">
                    {% endif %}
                    <p>{{ proyecto.descripcionCorta }}</p>
                    <p><i class="small mdi-maps-pin-drop"></i> {{ proyecto.localizacion }}&nbsp; <i class="small mdi-image-style"></i> {{ proyecto.generos.nombre }}

                        </p>

                </div>
                <div class="col s12 m6 l4">
                    <p class="proyecto-arriba">{{ proyecto.contribuciones }} €</p>
                    <p>de {{ proyecto.meta }}€</p>
                    <p class="proyecto-arriba">{{ diferencia+1 }}</p>
                    <p>Días para recaudar</p>
                    <p class="proyecto-arriba">{{ participantes }}</p>
                    <p>Inversores</p>
                    {% if usuario.id != proyecto.usuario.id %}
                        <a href="{{ path('participar_proyecto', {'id' : proyecto.id}) }}" class="btn btn-large purple accent-4">Apóyalo</a>
                    {% endif %}
                    <div id="favorito">
                        <a href="{{ path('favoritos', {'id':proyecto.id}) }}" id="favoritos"><i class="fa fa-heart"></i> Favoritos</a>
                    </div><br/>
                        <div id="menu" class="menu">
					<span class="morph-shape" data-morph-active="M251,150c0,93.5-29.203,143-101,143S49,243.5,49,150C49,52.5,78.203,7,150,7S251,51.5,251,150z">
						<svg width="100%" height="100%" viewBox="0 0 300 300" preserveAspectRatio="none">
                            <path d="M281,150c0,71.797-59.203,131-131,131S19,221.797,19,150S78.203,19,150,19S281,78.203,281,150z"/>
                        </svg>
					</span>
                        <button class="trigger"><i class="mdi-image-style"></i><span></span></button>
                        <ul class="menu__items">
                            <li><a href="#modalMensaje" class="modal-trigger tooltipped" data-position="top" data-delay="50" data-tooltip="Contacta con el creador" ><i class="fa fa-fw fa-envelope"></i><span></span></a></li>
                            <li><a href="#" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Compártelo en Facebook"><i class="fa fa-fw fa-facebook"></i><span></span></a></li>
                            <li><a href="#"><i class="fa fa-fw fa-twitter"></i><span>Codrops on Twitter</span></a></li>
                            <li><a href="#"><i class="fa fa-fw fa-rss"></i><span>Codrops RSS Feed</span></a></li>
                            <li><a href="#"><i class="fa fa-fw fa-google-plus"></i><span>Codrops on Google+</span></a></li>
                            <li><a href="#"><i class="fa fa-fw fa-tumblr"></i><span>Codrops on Tumblr</span></a></li>
                            <li><a href="{{ path('reportar_proyecto', {'id':proyecto.id}) }}" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Reporta el proyecto"><i class="mdi-action-info"></i><span>Codrops on Pinterest</span></a></li>
                            {% if usuario.id == proyecto.usuario.id %}
                            <li><a href="{{ path('editar_proyecto', {'id':proyecto.id}) }}" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Edita tu proyecto"><i class="fa fa-fw fa-edit"></i><span></span></a></li>
                            {% else %}
                                <li><a href="#" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Visita el perfil del creador"><i class="fa fa-fw fa-user"></i><span></span></a></li>
                                {% endif %}
                                </ul>

                    </div><br/>

                    <div style="display: block; opacity: 0; bottom: -100%;" id="modalMensaje" class="modal bottom-sheet">
                        <div class="modal-content">
                            <h4>Modal Header</h4>
                            <label><strong>Remitente: </strong></label><span>{{ usuario.nombreUsuario }}</span><br/>
                            <label><strong>Para: </strong></label><span>{{ proyecto.usuario.nombreUsuario }}</span>
                            {{ form(formularioMensaje) }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="detalle">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs purple-text">
                        <li class="tab col s3"><a class="active" onclick="Materialize.showStaggeredList('#staggered-test')" href="#test1">Detalle</a></li>
                        <li class="tab col s3"><a href="#test2">Comentarios <span class="contador">{{ contador }}</span></a></li>
                        <li class="tab col s3"><a href="#test3">Actualizaciones</a></li>
                        <li class="tab col s3"><a href="#test4">Galería Multimedia</a></li>
                    </ul>
                </div>
                <!-- DETALLE -->
                <div id="test1" class="col s12">
                    <div class="row">
                    <a href="{{ path('editarDetalle_proyecto', {'id':proyecto.id}) }}" class="btn blue col s12 m6 l2 offset-l5 offset-m3"><i class="mdi-action-extension"></i> Edita el detalle</a>

                    </div>
                    <h2 class="center">Campaña del proyecto</h2>

                    <div class="col s12 m10 l8 offset-l2" id="campaña">
                        {{ proyecto.descripcion|raw }}
                    </div>

                </div>
                <!-- COMENTARIOS -->
                <div id="test2" class="col s12">
                    <div id="comentarios">

                        <div class="col s12 m10 l8 offset-l2">
                            <blockquote>
                                *Si desea realizar una pregunta o duda más directa al creador, puede mandarle un mensaje directo.
                            </blockquote>
                            {{ form(formulario) }}
                        </div>
                        <div class="col s12 m10 l8 offset-l2">
                            {% if comentarios %}
                            <div class="holder">
                            </div>
                            <ul class="lista-cometarios" id="itemContainer">

                                    {% for coment in comentarios %}
                                        <li class="comentario-item">
                                            <img src="{{ coment.usuario.imagen }}" alt="" class="circle">
                                    <span class="title"> {{ coment.usuario.nombreUsuario }} {% if coment.usuario.id == proyecto.usuario.id %} <a href="#" class="creador tooltipped" data-position="top" data-delay="50" data-tooltip="Creador" ><i class="mdi-image-color-lens
"></i></a> {% endif %}</span>&nbsp;
                                            <span class="fecha"> el <strong>{{ coment.fecha|date('d/m/Y') }}</strong> a las <strong>{{ coment.fecha|date('H:i:s') }}</strong></span>
                                            <div id="acciones_coments">
                                                <form method="post" action="{{ path('denunciar_comentario', {'id':coment.id}) }}">
                                                    <button name="denunciar_coment" id="denunciar_coment" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Reportar por contenido inadecuado, racista, xenófobo o que incumpla cuaquier norma de la comunidad. Será revisado en moderación" type="submit">
                                                        <i class="mdi-action-info"></i>
                                                    </button>
                                                </form>
                                            {% if usuario.id == coment.usuario.id %}


                                                <a href="{{ path('editar_comentario', {'id': coment.id}) }}" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Editar" ><i class="mdi-editor-border-color"></i></a>
                                                <form method="post" action="{{ path('eliminar_comentario', {'id':coment.id}) }}">
                                                    <button name="eliminar_coment" id="eliminar_coment" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Eliminar" type="submit">
                                                        <i class="mdi-action-delete"></i>
                                                    </button>
                                                </form>

                                            {% endif %}
                                                </div>
                                            <p>

                                                {{ coment.texto }}
                                            </p>
                                        </li>
                                    {% endfor %}
                            </ul>
                            <div class="holder">
                            </div>
                            {% endif %}
                        </div>

                    </div>

                </div>
                <!-- Actualizaciones -->
                <div id="test3" class="col s12">
                    <div class="col s12 m10 l8 offset-l2 actu">
                        <div class="row">
                            <a href="{{ path('desarrollo_proyecto', {'id':proyecto.id}) }}" class="btn blue col s12 m6 l2 offset-l5 offset-m3"><i class="mdi-action-extension"></i> Añadir</a>
                        </div>
                            {% if desarrollo %}
                            <ul class="cbp_tmtimeline">
                                {% for actualizacion in desarrollo %}
                                    <li>
                                        <time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>{{ actualizacion.fechaActualizacion|date('d/m/Y') }}</span> <span>{{ actualizacion.fechaActualizacion|date('H:i') }}</span></time>
                                        <div class="cbp_tmicon"></div>
                                        <div class="cbp_tmlabel">
                                            <h2>{{ actualizacion.titulo }}</h2>
                                            <p>{{ actualizacion.texto }}</p>
                                            <a href="{{ path('editar_desarrollo_proyecto', {'id': actualizacion.id}) }}" class="tooltipped right" data-position="top" data-delay="50" data-tooltip="Editar"> <i class="mdi-content-create right"></i></a>
                                            <form method="post" action="{{ path('eliminar_act', {'id' : actualizacion.id}) }}">
                                                <button value="" name="eliminar_act" class="tooltipped right" data-position="top" data-delay="50" data-tooltip="Eliminar" type="submit" ><i class="mdi-action-delete right"></i></button>
                                            </form>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <h3 class="center">Aún no hay actualizaciones en este proyecto.</h3>
                        {% endif %}
                    </div>

                </div>
                <!-- GALERÍA -->
                <div id="test4" class="col s12">
                    <div class="row">
                        <a href="{{ path('multimedia_proyecto', {'id':proyecto.id}) }}" class="btn blue col s12 m6 l2 offset-l5 offset-m3">Añade imágenes</a>
                    </div>
                    <div class="row">
                        {% if multimedia %}
                            {% for ima in multimedia %}
                                <div class="col s12 m6 l3">
                                    <img class="materialboxed responsive-img" src="{{ ima.ruta }}">
                                </div>
                            {% endfor %}
                        {% endif %}

                    </div>

                </div>
            </div>

        </section>

    {% endblock %}
