{% extends '::layout.html.twig' %}
{% block title %}Kindie | {{ proyecto.nombre }}{% endblock %}
    {% block contenido %}
        <section id="proyecto" data-type="parallax_section" data-speed="5">
            <h1 class="center">{{ proyecto.nombre }}</h1>
            <h6 class="center">Por <strong><i>{{ proyecto.usuario.nombreUsuario }}</i></strong></h6>
            <div class="row">
                <div class="col s12 m8 l6 offset-l2">
                    <img class="responsive-img" src="{{ asset('bundles/app/images/proyectos/demo2_proyectos.jpg') }}">
                    <p>{{ proyecto.descripcionCorta }}</p>
                    <p><i class="small mdi-maps-pin-drop"></i> {{ proyecto.localizacion }}&nbsp; <i class="small mdi-image-style"></i> {{ proyecto.generos.nombre }}

                        </p>

                </div>
                <div class="col s12 m6 l4">
                    <p class="proyecto-arriba">{{ proyecto.contribuciones }} $</p>
                    <p>de {{ proyecto.meta }}$</p>
                    <p class="proyecto-arriba">{{ diferencia }}</p>
                    <p>Días para lanzamiento</p>
                    <a href="#" class="btn btn-large purple accent-4">Apóyalo</a>
                    <div id="menu" class="menu">
					<span class="morph-shape" data-morph-active="M251,150c0,93.5-29.203,143-101,143S49,243.5,49,150C49,52.5,78.203,7,150,7S251,51.5,251,150z">
						<svg width="100%" height="100%" viewBox="0 0 300 300" preserveAspectRatio="none">
                            <path d="M281,150c0,71.797-59.203,131-131,131S19,221.797,19,150S78.203,19,150,19S281,78.203,281,150z"/>
                        </svg>
					</span>
                        <button class="trigger"><i class="mdi-image-style"></i><span></span></button>
                        <ul class="menu__items">
                            <li><a href="https://www.facebook.com/pages/Codrops/159107397912"><i class="fa fa-fw fa-facebook"></i><span>Codrops on Facebook</span></a></li>
                            <li><a href="http://feeds2.feedburner.com/tympanus"><i class="fa fa-fw fa-rss"></i><span>Codrops RSS Feed</span></a></li>
                            <li><a href="http://www.twitter.com/codrops"><i class="fa fa-fw fa-twitter"></i><span>Codrops on Twitter</span></a></li>
                            <li><a href="https://plus.google.com/101095823814290637419"><i class="fa fa-fw fa-google-plus"></i><span>Codrops on Google+</span></a></li>
                            <li><a href="https://github.com/codrops"><i class="fa fa-fw fa-github"></i><span>Codrops on GitHub</span></a></li>
                            <li><a href="http://www.pinterest.com/codrops/codrops/"><i class="fa fa-fw fa-pinterest"></i><span>Codrops on Pinterest</span></a></li>
                            <li><a href="https://www.tumblr.com/tagged/codrops"><i class="fa fa-fw fa-tumblr"></i><span>Codrops on Tumblr</span></a></li>
                            <li><a href="#modalMensaje" class="modal-trigger tooltipped" data-position="Top" data-delay="50" data-tooltip="Contacta con el creador" ><i class="fa fa-fw fa-envelope"></i><span></span></a></li>
                        </ul>

                    </div><br/>
                    <div id="favorito">
                            <i class="fa fa-heart faa-pulse"></i>
                            </div>
                    <div style="display: block; opacity: 0; bottom: -100%;" id="modalMensaje" class="modal bottom-sheet">
                        <div class="modal-content">
                            <h4>Modal Header</h4>
                            <label><strong>Remitente: </strong></label><span>{{ usuario.nombreUsuario }}</span><br/>
                            <label><strong>Para: </strong></label><span>{{ proyecto.usuario.nombreUsuario }}</span>
                            {{ form(formularioMensaje) }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="detalle">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs purple-text">
                        <li class="tab col s3"><a class="active" onclick="Materialize.showStaggeredList('#staggered-test')" href="#test1">Detalle</a></li>
                        <li class="tab col s3"><a href="#test2">Comentarios <span class="contador">{{ contador }}</span></a></li>
                        <li class="tab col s3"><a href="#test3">Actualizaciones</a></li>
                        <li class="tab col s3"><a href="#test4">Galería Multimedia</a></li>
                    </ul>
                </div>
                <div id="test1" class="col s12">
                    <a href="{{ path('editarDetalle_proyecto', {'id':proyecto.id}) }}" class="enlace-centrado"><i class="mdi-action-extension"></i> Edita el detalle</a>
                    <h2 class="center">Campaña del proyecto</h2>

                    <div class="col s12 m10 l8 offset-l2" id="campaña">
                        {{ proyecto.descripcion|raw }}
                    </div>

                </div>
                <div id="test2" class="col s12">
                    <div id="comentarios">

                        <div class="col s12 m10 l8 offset-l2">
                            <blockquote>
                                *Si desea realizar una pregunta o duda más directa al creador, puede mandarle un mensaje directo.
                            </blockquote>
                            {{ form(formulario) }}
                        </div>
                        <div class="col s12 m10 l8 offset-l2">
                            <ul class="lista-cometarios">
                                {% if comentarios %}
                                    {% for coment in comentarios %}
                                <li class="comentario-item">
                                    <img src="{{ asset('bundles/app/images/usuario/perfil_demo.jpg') }}" alt="" class="circle">
                                    <span class="title"> {{ coment.usuario.nombreUsuario }} {% if coment.usuario.id == proyecto.usuario.id %} <a href="#" class="creador tooltipped" data-position="top" data-delay="50" data-tooltip="Creador" ><i class="mdi-image-color-lens
"></i></a> {% endif %}</span>&nbsp;
                                    <span class="fecha"> el <strong>{{ coment.fecha|date('d/m/Y') }}</strong> a las <strong>{{ coment.fecha|date('H:i:s') }}</strong></span>
                                    <p>
                                        {{ coment.texto }}
                                    </p>

                                </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>

                    </div>

                </div>
                <div id="test3" class="col s12">

                    <div class="col s12 m10 l8 offset-l2 actu">
                        <a href="{{ path('desarrollo_proyecto', {'id':proyecto.id}) }}" class="enlace-centrado actualizacion-btn"><i class="mdi-action-extension"></i> Añade actualizaciones</a>
                    {% if desarrollo %}
                    <ul class="cbp_tmtimeline">
                        {% for actualizacion in desarrollo %}
                        <li>
                            <time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>{{ actualizacion.fechaActualizacion|date('d/m/Y') }}</span> <span>{{ actualizacion.fechaActualizacion|date('H:i') }}</span></time>
                            <div class="cbp_tmicon"></div>
                            <div class="cbp_tmlabel">
                                <h2>{{ actualizacion.titulo }}</h2>
                                <p>{{ actualizacion.texto }}</p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                        {% else %}
                        <h3 class="center">Aún no hay actualizaciones en este proyecto.</h3>
                        {% endif %}
                    </div>
                </div>
                <div class="tsc_divider5_black"></div>
                <div id="test4" class="col s12">
                    <a href="{{ path('multimedia_proyecto', {'id':proyecto.id}) }}">Añade imágenes</a>
                </div>
            </div>
        </section>

    {% endblock %}