{% extends '::layout.html.twig' %}
{% block title %}Kindie | Proyectos apoyados{% endblock %}
    {% block contenido %}
        <section id="principal-apoyados" class="responsive-img" data-type="parallax_section" data-speed="5">
        <h2 class="center">Proyectos apoyados</h2>


            {% if apoyados %}
            <div class="row" id="itemContainer">
                <div class="holder">
                </div>
                {% for apo in apoyados %}
            <a href="{{ path('proyecto', {'id':apo.proyecto.id}) }}">
                    <div class="col s12 m6 l3">
                        <div class="card">
                            <div class="card-img">
                                <img src="{{ apo.proyecto.imagenPrincipal }}" class="responsive-img">
                            </div>
                            <div class="card-content">
                                <h6 class="bold">{{ apo.proyecto.nombre }}<span class="right">{{ apo.cantidad }} €</span></h6>
                                <p>{{ apo.proyecto.usuario.nombreUsuario }}<span class="right">{{ apo.fecha|date('d/m/Y') }}</span> </p>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}

            </div>
                <div class="holder">
                </div>
                {% else %}
                <h3 class="center">No hay proyectos apoyados</h3>
            {% endif %}

        </section>
    {% endblock %}