{% extends '::layout.html.twig' %}
{% block title %}Kindie | {{ proyecto.nombre }}{% endblock %}
    {% block contenido %}
        <section id="proyecto">
            <h1 class="center">{{ proyecto.nombre }}</h1>
            <h6 class="center">Por <strong><i>{{ proyecto.usuario.nombreUsuario }}</i></strong></h6>
            <div class="row">
                <div class="col s12 m6 l4 offset-l3">
                    <img class="responsive-img" src="{{ asset('bundles/app/images/proyectos/demo2_proyectos.jpg') }}">
                    <p>{{ proyecto.descripcionCorta }}</p>
                    <p><i class="small mdi-maps-pin-drop"></i> {{ proyecto.localizacion }}</p>
                </div>
                <div class="col s12 m6 l4">
                    <p class="proyecto-arriba">{{ proyecto.contribuciones }} $</p>
                    <p>de {{ proyecto.meta }}$</p>
                    <p class="proyecto-arriba">{{ diferencia }}</p>
                    <p>Días para lanzamiento</p>
                    <a href="#" class="btn btn-large purple accent-4">Apóyalo</a><div id="favorito"><i class="mdi-action-favorite"></i> Favoritos </div>
                </div>
            </div>
        </section>
        <section id="detalle">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs purple-text">
                        <li class="tab col s3"><a class="active" onclick="Materialize.showStaggeredList('#staggered-test')" href="#test1">Detalle</a></li>
                        <li class="tab col s3"><a href="#test2">Comentarios <span class="contador">{{ contador }}</span></a></li>
                        <li class="tab col s3"><a href="#test3">Actualizaciones</a></li>

                    </ul>
                </div>
                <div id="test1" class="col s12">
                    <h2 class="center">Descripción</h2>
                    <div class="col s12 m10 l8 offset-l2">
                        {{ proyecto.descripcion }}
                    </div>
                </div>
                <div id="test2" class="col s12">
                    <div id="comentarios">

                        <div class="col s12 m10 l8 offset-l2">
                            <blockquote>
                                *Si desea realizar una pregunta o duda más directa al creador, puede mandarle un mensaje directo.
                            </blockquote>
                            {{ form(formulario) }}
                        </div>
                        <div class="col s12 m10 l8 offset-l2">
                            <ul class="lista-cometarios">
                                {% if comentarios %}
                                    {% for coment in comentarios %}
                                <li class="comentario-item">
                                    <img src="{{ asset('bundles/app/images/usuario/perfil_demo.jpg') }}" alt="" class="circle">
                                    <span class="title"> {{ coment.usuario.nombreUsuario }} </span>&nbsp;
                                    <span class="fecha"> el <strong>{{ coment.fecha|date('d/m/Y') }}</strong> a las <strong>{{ coment.fecha|date('H:i:s') }}</strong></span>
                                    <p>
                                        {{ coment.texto }}
                                    </p>

                                </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>

                    </div>

                </div>
                <div id="test3" class="col s12">Test 3</div>

            </div>
        </section>

    {% endblock %}